@media (orientation: landscape) {
    body {
        background-color: #272a31;
        font-family: mc, Arial, Helvetica, sans-serif;
        background-image: url(../img/wedristlo.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 80%;
        color: white;
        margin: 0px;
    }
    a {
        color: white;
        font-style: normal;
        text-decoration: none;
    }
    @font-face {
        font-family: mc;
        src: url(../fonts/better-minecraft.otf);
    }
    @keyframes splash {
        50% { scale: 80%; }
        100% { scale: 100%; }
    }
}

@media (orientation: portrait) {
    body {
        background-color: #272a31;
        font-family: mc, Arial, Helvetica, sans-serif;
        background-image: url(../img/wedristlo.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 100%;
        color: white;
        margin: 0px;
    }
    a {
        color: white;
        font-style: normal;
        text-decoration: none;
    }
    @font-face {
        font-family: mc;
        src: url(../fonts/Minecraft.ttf);
    }
    @keyframes splash {
        50% { scale: 70%; }
        100% { scale: 100%; }
    }
}
